img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    box-shadow: inset 8px 8px 10px #c3c3c3,
              inset -8px -8px 10px #cfcfcf;
    transition: 0.3s;
}

#contenedorFoto{
    font-family: "Sour Gummy", sans-serif;
    width: 200px;
    height: 350px;
    background: #e8e8e8;
    box-shadow: 5px 5px 6px #dadada,
    -5px -5px 6px #f6f6f6;
    transition: 0.4s;
    padding: 10px;
    border-radius: 7px;
}

#contenedorImagen{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: 18px;
    font-weight: 600;
    color: #2e54a7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    margin-top: 10px;
}

h4 {
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 25px;
}


#contenedorFoto:hover{
    translate: 0 -10px;
}