#prueba{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 775px;
    padding: 20px 0 0 0;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
    margin: 0
}
header{
    width: auto;
    position: sticky;
    height: 80px;
    border-bottom: solid black 2px;
}