.prueba{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 775px;
    padding: 20px 0 20px 0;
    justify-content: center;
}
.hidden{
    display: none;
}

.user-tasks{
    font-family: "Sour Gummy", sans-serif;
    padding: 20px;
    background-color: #ffffff;
    width: 330px;
    height: fit-content;
    border: solid black 2px;
    border-radius: 0.3rem;
    gap: 10px;
    transition: 0.1s;
}

.hiddenModal{
    animation-name: desaparece;
    animation-duration: 0.5s;
}
.modalDivSend{
    animation-name: aparece;
    animation-duration: 0.3s;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalFormularioSend{
    background: rgba(255, 255, 255);
    border-radius: 0.3rem;
    height: auto;
    width:auto;
    padding: 20px;
    transition: 0.5s;
}
.modalFormularioSend:hover{
    scale: 1.10;
}
.btn{
    font-family: "Sour Gummy", sans-serif;
    font-size: 17px;
    border-radius: 2rem;
    background-color:  rgb(0, 162, 255);
    padding: 10px 20px 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}
.btn:hover{
    background-color:  rgb(3, 121, 189);
    scale: 1.12;
}
#searchBar{
    font-family: "Sour Gummy", sans-serif;
    border-radius: 2rem;
    padding: 10px 20px 10px 20px;
    border: solid black 2px;
}
#searchBar:focus {
    outline: none;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}
header{
    width: auto;
    position: sticky;
    height: 80px;
    border-bottom: solid black 2px;
}
#btnAdd{
    width: 45px;
    cursor: pointer;
    transition: 0.1s;
}
h2{
    font-family: "Sour Gummy", sans-serif;
}

.album{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 773px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 0.3rem;
}


#btnAdd:hover{
    scale: 1.15;
}
#btnSend{
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: 0.1s;
}

#btnSend:hover{
    scale: 1.15;
}

#btn-content{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#tareas{
    position: fixed;
    padding: 10px 20px 10px 20px;
    height: 700px;
    width: auto;
    right: -400px;
    border-radius: 0.4rem;
    top: 100px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: right 0.2s ease;
    overflow-y: scroll;
}
#tareas.active{
    right: 125px;
}
#posts{
    position: fixed;
    padding: 10px 20px 10px 20px;
    height: 700px;
    width: auto;
    gap: 5px;
    left: -400px;
    top: 100px;
    border-radius: 0.4rem;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: left 0.2s ease;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.tituloAlbum{
    width: 100%;
    text-align: center;
}

#tareaTitulo,#postTitulo{
    font-family: "Sour Gummy", sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: auto;
    margin: 0;
    height: 70px;
}
#posts.active{
    left: 125px;
}

#notFound{
    font-family: "Sour Gummy", sans-serif;
}
.pgnPosts{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#formPublicar{
    background-color: white;
    margin-top: 20px;
    border-radius: 0.4rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 400px;
    width: 800px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 20px;
}
.pgnPosts [type=text], textarea {
    font-family: "Sour Gummy", sans-serif;
    width: 780px;
    padding: 12px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.pgnPosts [type=text]{
    font-size: 20px;
}
.pgnPosts textarea{
    font-size: 15px;
}
#contenedorPublicaciones{
    padding: 12px;
    border-radius: 0.4rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    justify-content: center;
    align-items: center;
    height: 750px;
    background-color: white;
    overflow: auto;
    gap: 20px;
}
#submitPost{
    font-family: "Sour Gummy", sans-serif;
    background-color:  rgb(0, 162, 255);
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
    width: 806px;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}
#submitPost:hover{
    background-color:  rgb(3, 121, 189);
}
.pgnPosts [type=text]:focus, textarea:focus{
    outline: none;
    border: 2px solid rgb(0, 162, 255);
}
.pgnPosts select{
    width: 806px;
    padding: 10px 20px 10px 20px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}


@keyframes aparece {
    from{opacity: 0;}to{opacity: 1;}
}
@keyframes desaparece {
    from{opacity: 1;}to{opacity: 0;}
}

.form-control {
    font-family: "Sour Gummy", sans-serif;
    margin: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border-radius: 8px;
}

.title {
font-size: 28px;
font-weight: 800;
}
.input-field {
position: relative;
width: 100%;
}

.input {
margin-top: 15px;
width: 100%;
outline: none;
border-radius: 8px;
height: 45px;
border: 1.5px solid #ecedec;
background: transparent;
padding-left: 10px;
}


input:focus {
border: 1.5px solid #2d79f3;
}
.input-field .label {
position: absolute;
top: 30px;
left: 10px;
color: #ccc;
transition: all 0.3s ease;
pointer-events: none;
z-index: 2;
}

.infoFormulario{
    font-family: "Sour Gummy", sans-serif;
    font-size: 8px;
    color: #333;
}

.input-field .input:focus ~ .label,
.input-field .input:user-valid ~ .label {
top: 5px;
left: 5px;
font-size: 12px;
color: #2d79f3;
background-color: #ffffff;
padding-left: 5px;
padding-right: 5px;
}

.submit-btn {
margin-top: 30px;
height: 55px;
width: 300px;
background: #f2f2f2;
border-radius: 11px;
border: 0;
outline: none;
color: #ffffff;
font-size: 18px;
font-weight: 700;
background: rgb(0, 162, 255);
box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
cursor: pointer;
}

.submit-btn:hover {
box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px rgba(3, 121, 189, 0.267);
background-color:  rgb(3, 121, 189);
scale: 1.05;  
}

.mostrarUsuarioSelect {
    background-color: #f9f9f9; /* Blanco claro */
    color: #000000; /* Negro */
    border: 1px solid #ccc; /* Gris claro */
    border-radius: 5px;
    padding: 10px;
    font-family: "Sour Gummy", sans-serif;
    font-size: 16px;
    width: 300px;
    box-sizing: border-box;
    margin: 10px 0;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.mostrarUsuarioSelect:focus {
    outline: none;
    border-color: rgb(3, 121, 189); /* Azul */
}

.Btn {
    width: 45px;
    height: 45px;
    background: rgb(0, 162, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;  /* 20px desde el borde inferior */
    right: 20px;   /* 20px desde el borde derecho */
    border: none;
    opacity: 0;    
    pointer-events: none; 
    transition: opacity 0.5s ease;  /* Transición suave para aparecer */
  }

  
  /* Flecha */
  .arrow path {
    fill: white;
  }
  
  /* Texto que aparece en hover */
  .text {
    font-size: 0.7em;
    position: absolute;
    color: white;
    bottom: -18px;
    opacity: 0;
    transition-duration: .7s;
  }
  
  /* Hover para mostrar texto */
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .7s;
  }
  
  /* Animación de la flecha en hover */
  .Btn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Posiciona el contenedor de la flecha */
  .derecha {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 10px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  

  .styled-select {
    font-family: "Sour Gummy", sans-serif;
    font-size: 16px;
    border-radius: 2rem;
    padding: 10px 20px;
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    width: auto;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.styled-select:hover {
    background-color: rgb(3, 121, 189);
    scale: 1.05;
}

.styled-select:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(3, 121, 189, 0.5);
}

.styled-select option {
    font-family: "Sour Gummy", sans-serif;
    font-size: 16px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 4px;
    margin: 2px 0;
}

.styled-select option:hover {
    background-color: rgba(0, 162, 255, 0.1);
    color: rgb(0, 162, 255);
}
