#prueba{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 775px;
    padding: 20px 0 20px 0;
    justify-content: center;
}
.hidden{
    display: none;
}

.hiddenModal{
    animation-name: desaparece;
    animation-duration: 0.5s;
}
.modalDivSend{
    animation-name: aparece;
    animation-duration: 0.3s;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalFormularioSend{
    background: rgba(255, 255, 255);
    border-radius: 0.3rem;
    height: auto;
    width:auto;
    padding: 20px;
    transition: 0.5s;
}
.modalFormularioSend:hover{
    scale: 1.10;
}
.btn{
    font-family: "Sour Gummy", sans-serif;
    font-size: 17px;
    border-radius: 2rem;
    background-color:  rgb(0, 162, 255);
    padding: 10px 20px 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}
.btn:hover{
    background-color:  rgb(3, 121, 189);
    scale: 1.12;
}
#searchBar{
    font-family: "Sour Gummy", sans-serif;
    border-radius: 2rem;
    padding: 10px 20px 10px 20px;
    border: solid black 2px;
}
#searchBar:focus {
    outline: none;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}
header{
    width: auto;
    position: sticky;
    height: 80px;
    border-bottom: solid black 2px;
}
#btnAdd{
    width: 45px;
    cursor: pointer;
    transition: 0.1s;
}

#btnAdd:hover{
    scale: 1.15;
}
#btnSend{
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: 0.1s;
}

#btnSend:hover{
    scale: 1.15;
}

#btn-content{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#tareas{
    position: fixed;
    padding: 10px 20px 10px 20px;
    height: 700px;
    width: auto;
    right: -400px;
    border-radius: 0.4rem;
    top: 100px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: right 0.2s ease;
    overflow-y: scroll;
}
#tareas.active{
    right: 125px;
}
#posts{
    position: fixed;
    padding: 10px 20px 10px 20px;
    height: 700px;
    width: auto;
    gap: 5px;
    left: -400px;
    top: 100px;
    border-radius: 0.4rem;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: left 0.2s ease;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
#tareaTitulo,#postTitulo{
    font-family: "Sour Gummy", sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: auto;
    margin: 0;
    height: 70px;
}
#posts.active{
    left: 125px;
}
@keyframes aparece {
    from{opacity: 0;}to{opacity: 1;}
}
@keyframes desaparece {
    from{opacity: 1;}to{opacity: 0;}
}

.form-control {
    font-family: "Sour Gummy", sans-serif;
    margin: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border-radius: 8px;
  }

  .title {
    font-size: 28px;
    font-weight: 800;
  }
  .input-field {
    position: relative;
    width: 100%;
  }
  
  .input {
    margin-top: 15px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    height: 45px;
    border: 1.5px solid #ecedec;
    background: transparent;
    padding-left: 10px;
  }


  input:focus {
    border: 1.5px solid #2d79f3;
  }
  .input-field .label {
    position: absolute;
    top: 30px;
    left: 10px;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 2;
  }

  .input-field .input:focus ~ .label{
    top: 5px;
    left: 5px;
    font-size: 12px;
    color: #2d79f3;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
  }

  .submit-btn {
    margin-top: 30px;
    height: 55px;
    background: #f2f2f2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(180deg, #363636 0%, #1b1b1b 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
  }

  .submit-btn:hover {
    box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #0000003a;
  }