div{
    font-family: "Sour Gummy", sans-serif;
    padding: 0 0 0 10px;
    background-color:#fa9595;
    width: 320px;
    height: auto;
    border: solid black 2px;
    border-radius: 0.3rem;
    display: flex;
    gap:20px;
    font-family: "Sour Gummy", sans-serif;
    transition: 0.1s;
}
div:hover{
    scale: 1.03;
    cursor: pointer;
}
div:hover{
    scale: 1.03;
}
input{
    cursor: pointer;
}
#contenedor{
    margin-bottom: 10px;
}

div.completed{
    background-color: rgb(93, 252, 93);
}

#name{
    font-size: 13px;
}