*{
    font-family: "Sour Gummy", sans-serif;
}

#contenedor{
    font-family: "Sour Gummy", sans-serif;
    width: 350px;
    background-color: #FAFAFA;
    width: 373.1px;
    height: fit-content;
    border: solid black 2px;
    border-radius: 0.5rem 0.5rem 0 0;
    transition: 0.5s;
}

#btnEliminar{
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.1s;
}
#btnEliminar:hover{
    scale: 1.15;
}
#btnEditar{
    height: 30px;
    width: 30px; 
}
#contenedor:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    scale: 1.03;
}

#info{
    display: flex;
    padding: 5px 5px 0px 0px;
    justify-content: space-between;
    width: auto;
    gap: 2px;
}
h4,h5{
    margin: 0;
}

#data{
    margin-top: 15px;
}

#userName{
    color: rgb(0, 162, 255);
}

#btnPost,#btnTarea{
    padding: 10px;
    transition: 0.3s;
}

#btnPost:hover,#btnTarea:hover{
    background-color: rgb(0, 85, 197);
    color: white;
    font-size: 17px;
}

button{
    background-color: rgb(0, 162, 255);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: 0.2s;
    width: 50%;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    border: 0;
}

#botones{
    display: flex;
    gap: 0;
}
#data{
    display: flex;
    flex-direction: column;
}
img{
    height: 140px;
    width: 140px;
}