*{
    font-family: "Sour Gummy", sans-serif;
}

#contenedor{
    font-family: "Sour Gummy", sans-serif;
    width: 373.1px;
    height: fit-content;
    border: solid black 2px;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.5s;
}

#contenedor:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    scale: 1.03;
}

#info{
    display: flex;
    padding: 0px 20px 0px 0px;
}

p{
    margin: 5px;
}

h3,h4{
    margin: 0;
}

#data{
    margin-top: 15px;
}

#userName{
    color: rgb(0, 162, 255);
}

#btnPost{
    border-right: solid 2px black;
}

#btnPost:hover{
    background-color: rgb(3, 121, 189);
    color: white;
}
#btnTarea:hover{
    background-color: rgb(2, 76, 119);
    color: white;
}

button{
    background-color: rgb(0, 162, 255);
    color: white;
    transition: 0.2s;
    width: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    border: 0;
}

#botones{
    border-top: solid black 2px;
    display: flex;
    gap: 0;
}
#data{
    display: flex;
    flex-direction: column;
}
img{
    height: 140px;
    width: 140px;
}