*{
    font-family: "Sour Gummy", sans-serif;
}

#contenedor{
    font-family: "Sour Gummy", sans-serif;
    width: 350px;
    background-color: #FAFAFA;
    width: 373.1px;
    height: fit-content;
    border: solid black 2px;
    border-radius: 0.5rem 0.5rem 0 0;
    transition: 0.5s;
}

#btnEliminar{
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: 0.1s;
    margin-top: 2.5px;
    margin-right: 5px;
}
#btnEliminar:hover{
    scale: 1.15;
}


.contenedorBotones{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#btnEditar{
    height: 33px;
    width: 33px; 
    cursor: pointer;
    transition: 0.1s;
    margin-top: 1px;
}

#btnEditar:hover{
    scale: 1.15; 
}
#contenedor:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    scale: 1.03;
}

#info{
    display: flex;
    padding: 5px 5px 0px 0px;
    justify-content: space-between;
    width: auto;
    gap: 2px;
    cursor: pointer;
}
h4,h5{
    margin: 0;
}

#data{
    margin-top: 15px;
}

#userName{
    color: rgb(0, 162, 255);
}

#btnPost,#btnTarea{
    padding: 10px;
    transition: 0.3s;
}

#btnPost:hover,#btnTarea:hover{
    background-color: rgb(0, 85, 197);
    color: white;
    font-size: 17px;
}

button{
    background-color: rgb(0, 162, 255);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: 0.2s;
    width: 50%;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    border: 0;
}

#botones{
    display: flex;
    gap: 0;
}
#data{
    display: flex;
    flex-direction: column;
}
img{
    height: 140px;
    width: 140px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 15%;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.modal-content button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-radius: 7px;
}

.modal-content button:hover {
    background-color: #0056b3;
}

.modal-content button#cancelarEliminar {
    background-color: #dc3545;
}

.modal-content button#cancelarEliminar:hover {
    background-color: #a71d2a;
}
